.login-btn {
    background-color: #3F90FC;
    color: white;
    border-radius: 20px;
    padding: 8px 16px;
    border: 1px solid #3F90FC;
    outline: 0;
    transition: .3s;
}

.login-btn:hover {
    background-color: transparent;
    color: #3F90FC;
}

.admin-btn {
    background-color: #434141;
    border: 1px solid #434141;
    color: #fff;
    border-radius: 20px;
    padding: 8px 16px;
    border: 0;
    outline: 0;
}